audioread==3.0.1
black==25.1.0
huggingface-hub==0.26.1
jupyter==1.1.1
librosa==0.10.2.post1
matplotlib==3.10.3
numpy==1.26.4
omegaconf==2.3.0
overrides==7.7.0
packaging==24.1
pandas==2.2.3
pathlib==1.0.1
pathspec==0.12.1
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.0
soundfile==0.12.1
torchaudio==2.2.2
typing_extensions==4.12.2
